# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001

# Dynamic Labs Configuration
NEXT_PUBLIC_STAGING_DYNAMIC_ENVIRONMENT_ID =
NEXT_PUBLIC_DYNAMIC_ENVIRONMENT_ID =
NEXT_PUBLIC_STAGING =

# Blockchain Configuration
PRIVATE_KEY =
RPC_URL =
NEXT_PUBLIC_BETTING_CONTRACT_ADDRESS =
NEXT_PUBLIC_URL =
NEXT_PUBLIC_NETWORK='testnet'

# StreamWallet contract addresses - used for donations and subscriptions
NEXT_PUBLIC_STREAM_WALLET_FACTORY_ADDRESS=0x7310cE3bD564fA63587a388b87a8C973a0BA3d7B
NEXT_PUBLIC_BETTING_MATCH_FACTORY_ADDRESS=0x99eb22D423a148C1347794055298aEC7a91cf1Df
BETTING_MATCH_FACTORY_ADDRESS=0x9b94425D6c877B479a5943e82c3bA6e6C6Ec4462

NEXT_PUBLIC_BETTING_MATCH_FACTORY_ADDRESS=0x99eb22D423a148C1347794055298aEC7a91cf1Df

# Supabase conf
NEXT_PUBLIC_SUPABASE_URL=https://uofqrnrclomfhrybbxkf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVvZnFybnJjbG9tZmhyeWJieGtmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI5Mzg1MDMsImV4cCI6MjA2ODUxNDUwM30.XsGdCINMgM8pkju3i2MHXL5BYKfUnNEBmsLm-2Bc2Mo'

# Mediamtx
NEXT_PUBLIC_MEDIAMTX_URL="http://localhost:8888"
NEXT_PUBLIC_MEDIAMTX_WHIP_URL="http://localhost:8889"
NEXT_PUBLIC_RTMP_URL="rtmp://localhost:1935/live"